Curadoria de Noticias.json
{
  "name": "Curadoria de Noticias",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "d265946a-f443-4781-a6cf-89c4052f31f1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://g1.globo.com/dynamo/tecnologia/rss2.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        176,
        128
      ],
      "id": "ebdbe92d-c538-4d29-b8d2-ff41860d214d",
      "name": "RSS G1"
    },
    {
      "parameters": {
        "url": "https://dev.to/feed/tag/ai\n",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        176,
        -112
      ],
      "id": "511bb91a-059b-49de-91b6-ea300d6bf418",
      "name": "RSS Dev.to"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        384,
        -112
      ],
      "id": "709e9e23-8989-4cd8-b543-3a03bc54ebf0",
      "name": "Limit"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        384,
        128
      ],
      "id": "004f94ed-ff00-4049-8bbf-b870850618df",
      "name": "Limit1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        0
      ],
      "id": "7de1148e-7c43-41b6-9f9c-eaceb8949eb3",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldToSplitOut": "title,  content, link",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        864,
        0
      ],
      "id": "023ee3ce-1354-4efb-9ca7-93a8f9f58a92",
      "name": "Split Out"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um editor de notícias de tecnologia especializado em Inteligência Artificial (IA) e Tecnologia para desenvolvedores.\n\nSua tarefa é analisar um conjunto de notícias fornecidas, selecionar apenas as mais relevantes e criar um resumo diário conciso.\n\n📌 Regras principais:\n- Selecione no máximo 3 notícias no total.\n- Priorize conteúdos relevantes para desenvolvedores (IA, ML, frameworks, linguagens, ferramentas).\n- Cada resumo deve ter no máximo 50 palavras.\n- Ignore notícias irrelevantes, repetidas ou superficiais.\n\n📤 Formato de saída:\nA resposta deve ser uma única mensagem em Markdown, seguindo exatamente a estrutura abaixo:\n\n---\n\n🤖 **Resumo Diário de Notícias Tech** 🚀  \n*Data:* {{ $now.format('dd/MM/yy') }}\n\n---\n\n🧠 **Inteligência Artificial & Machine Learning**\n\n1️⃣ **[Título original do artigo](URL do artigo)**  \n*Resumo conciso sobre o avanço, modelo, ferramenta ou impacto relevante (máx. 50 palavras).*\n\n2️⃣ **[Título original do artigo](URL do artigo)**  \n*Resumo conciso sobre novas pesquisas, ferramentas ou implicações éticas (máx. 50 palavras).*\n\n---\n\n💻 **Tecnologia**\n\n1️⃣ **[Título original do artigo](URL do artigo)**  \n*Resumo conciso sobre frameworks, linguagens, releases ou novidades técnicas relevantes (máx. 50 palavras).*\n\n---\n\n🔥 **Dica Rápida:**  \n*Uma frase curta e útil para desenvolvedores (ex: importância de revisar a documentação ou acompanhar changelogs).*\n\n---\n\n📥 Dados de entrada (notícias):\nAs notícias serão fornecidas em formato JSON ou texto estruturado, contendo título, URL e conteúdo do artigo.\n\nExemplo:\n[\n  {\n    \"title\": \"Título do Artigo 1\",\n    \"url\": \"https://...\",\n    \"content\": \"Conteúdo completo do artigo...\"\n  },\n  {\n    \"title\": \"Título do Artigo 2\",\n    \"url\": \"https://...\",\n    \"content\": \"Conteúdo completo do artigo...\"\n  }\n]\n\nUtilize exclusivamente essas informações para gerar o resumo.\n\nConjunto de notícias:\n{{ $json.Posts.toJsonString() }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1296,
        0
      ],
      "id": "d4758eac-6af3-45d6-9cfd-6168ebfe4699",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "U7yVsSSdGJ3jYa6t",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Posts",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1072,
        0
      ],
      "id": "d37f3a0a-a2c0-45f2-ae2b-9551cb1557c2",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1648,
        0
      ],
      "id": "4055afbf-af07-45a4-a207-1a5b6888b341",
      "name": "Discord",
      "webhookId": "6ed44d48-95d1-4c31-8b6b-a5808bdbda68",
      "credentials": {
        "discordWebhookApi": {
          "id": "iFW46COaGac7JHiE",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Dev.to",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS G1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Dev.to": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS G1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a7f43407-4814-466a-8beb-d8e70b7935b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de23e94e107109a5bad754a9d33a3204c2808d344828e9cdbc23b6d37028b485"
  },
  "id": "sMeDzZrdG9TkCsFr8XNAm",
  "tags": []
}